@media (max-width: 425px) {
    body {
        min-width: 320px;
    }
    .filter-options {
        flex-direction: column;
    }
    .filter-options h2 {
        padding: 0.7em;
        font-size: 1.4em;
    }
    .filter-options select {
        width: 70%;
    }
    #restaurants-list {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    #restaurants-list li {
        margin: auto;
        padding: 0 0 3rem;
        text-align: center;
        border: none;
        width: 100%;
    }
    #restaurants-list li h1 {
        margin-top: 0.5rem;
    }
    #restaurants-list li a {
        width: 50%;
        margin: auto;
    }
    .inside header.main {
        position: fixed;
    }
    #breadcrumb {
        position: fixed;
        width: 100%;
        align-content: center;
    }
    #breadcrumb li {
        font-size: 0.8em;
    }
    .inside #maincontent {
        display: flex;
        flex-flow: column;
    }
    #section-container {
        z-index: 999;
        margin-top: 1.63rem;
    }
    .inside #map-container {
        margin-top: 10em;
        z-index: 999;
    }
    #restaurant-container, #reviews-container {
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    #reviews-container h2 {
        text-align: center;
    }
}
@media (min-width: 426px) and (max-width: 1024px) {
    #restaurants-list {
        justify-content: center;
    }
    #restaurants-list li {
        padding: 0;
    }
    .inside #maincontent {
        flex-flow: row;
        align-items: stretch;
    }
    #section-container {
        display: flex;
        flex-flow: column;
        flex: auto;
        padding: 0;
        margin-left: 1rem;
        order: 0;
        flex: 1 1 50%;
    }
    .inside #map-container {
        order: 7;
    }
    #restaurant-container {
        order: 5;
        padding: 0;
    }
    #restaurant-address {
        text-align: center;
    }
    #reviews-container {
        order: 1;
        flex: 1 1 50%;
        padding: 0;
    }
    #reviews-container h2 {
        text-align: center;
        margin: 1.3rem 0;
    }
    #reviews-list li header {
        font-size: 1rem;
    }
    #reviews-list li header time {
        font-size: 0.9rem;
    }
}
@media (min-width: 1025px) {
    body {
        max-width: 1200px;
        margin: auto;
    }
    #restaurants-list {
        border-top: 1px solid #d9d9d9;
    }
    /* #restaurants-list li {
        flex: 1 1 auto;
    } */
    #section-container {
        display: flex;
        flex-flow: row-reverse;
        flex: auto;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #d9d9d9;
        align-items: center;
    }
    .inside #map-container {
        height: auto;
        align-self: stretch;
    }
    #restaurant-container {
        border: none;
        align-self: flex-start;
        padding: 1rem 1rem 2rem;
    }
    #reviews-container h2{
        margin-left: 5%;
    }
    #reviews-list {
    }
    #reviews-list li {
        flex: 0 1 25%;
        box-shadow: 10px 10px 30px #d9d9d9;
    }
}